@{
    var selectedCourses = ViewBag.Result as List<Course>;
    var availableSections = ViewBag.availableSections as List<Section>;
    var selectedInstructors = ViewBag.selectedInstructors as List<Instructor>;
}

<h1>Choose Unpreferred Instructors</h1>

@if (selectedCourses != null && selectedCourses.Count > 0)
{
    <form asp-controller="Home" asp-action="ChooseInstructors" method="post">
    <ul>
        @foreach (var course in selectedCourses)
        {
            <li>For @course.CRS_A_NAME course :</li>
                @foreach (var c in availableSections)
                {
                    if(c.course.IDCRS == course.IDCRS)
                    {
                    <div>
                        <input type="checkbox" name="selectedInstructorsID" value="@c.Instructors.IdInstructor">
                        <label>@c.Instructors.Name</label>
                    </div>
                }}
        }
    </ul>
        <button type="submit">Submit</button>
    </form>
}
else
{
    <p>No courses</p>
}
<h1>Unpreferred Instructors:</h1>
@if (selectedInstructors != null && selectedInstructors.Count > 0)
{
    <ul>
        @foreach (var instructor in selectedInstructors)
        {
            <li>@instructor.Name</li>
        }
    </ul>
}