@{
    List<Course> selectedCourses = ViewBag.Result as List<Course>;
}

<h1>Selected Courses</h1>

@if (selectedCourses != null && selectedCourses.Count > 0)
{
    <ul>
        @foreach (var c in selectedCourses)
        {
            <li>@c.CRS_A_NAME</li>
        }
    </ul>
}
else
{
    <p>No courses</p>
}

