@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form class="login-form" asp-controller="CollectData" asp-action="Login" method="post">
    <h1>Welcome</h1>
    <span>Login with your ASU account</span>
    <input type="email" name="Email" placeholder="Your Email" required />
    <input type="password" name="Password" placeholder="Your password" required />
    <input class="Loginbutton submit" type="submit" id="btn-submit" value="Login" />
    <br />
    <h6>
        @TempData["Msg"]
    </h6>
</form>