
@{
    List<Course> studyPlanCourses = ViewBag.studyPlanCourses as List<Course>;
}

<h1>Select Coursess</h1>

<form asp-controller="CollectData" asp-action="ViewCourses" method="post">
    @foreach (var c in studyPlanCourses)
    {
        <div>
            <input type="checkbox" name="selectedCourseIds" value="@c.IDCRS">
            <label>@c.CRS_A_NAME</label>
        </div>
    }
    <button type="submit">Submit</button>
</form>
